streamlit
pandas
jupyter
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-mistralai
sentence-transformers
faiss-cpu
transformers
matplotlib
numpy
plotly
scikit-learn
ipykernel
roman
yake