/* User message styles */
.user-message {
    text-align: right;
    background-color: #3C3C3C;
    color: #FFFFFF;
    border: 1px solid #3C3F41;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    max-width: 70%;
    align-self: flex-end;
}

/* Bot message styles */
.bot-message {
    text-align: left;
    background-color: #2B2B2B;
    color: #FFFFFF;
    border: 1px solid #3C3F41;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    max-width: 70%;
    align-self: flex-start;
    }

/* Button styles */
.feedback-buttons {
    text-align: left;
    margin: 5px;
}

.feedback-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}
.question-box {
    background-color: #5A6378;  /* Muted Slate Blue */
    color: #E0E5EB;  /* Light Mist Gray */
    border: 1px solid #444A53;  /* Soft Charcoal Gray */
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    text-align: left;
    cursor: pointer;
}

.question-box:hover {
    background-color: #74849E;  /* Muted Pale Blue */
}



