/* Question Box Styles */
.question-box {
    background-color:#f1efef;
    color: #000000;
    border: 1px solid #3C3F41;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    text-align: left;
    cursor: pointer;
}

/* Centered Title Style */
.centered-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #000000;
}

.question-box:hover {
    background-color: #fbf8f8;
    transition: background-color 0.3s;
}


/* Chatbot and message styles */
.user-message {
    text-align: right;
    background-color:#f1efef;
    color: #000000;
    border: 1px solid #3C3F41;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    max-width: 70%;
    float: right;
    clear: both;
}

.bot-message {
    text-align: left;
    background-color:#f4f3f3;
    color: #000000;
    border: 1px solid #3C3F41;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    max-width: 70%;
    float: left;
    clear: both;
}