/* User message styles */
.user-message {
    text-align: right;
    background-color: #61A3BA;
    color: #FFFFDD;
    border: 1px solid #3C3F41;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    max-width: 70%;
    float: right;
    clear: both;
}

p{
    margin : 0px;
}

a{
    text-decoration: none;
}


/* Bot message styles */
.bot-message {
    text-align: left;
    background-color: #61A3BA;
    color: #FFFFDD;
    border: 1px solid #3C3F41;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    max-width: 70%;
    float: left;
    clear: both;
}

/* Button styles */
.feedback-buttons {
    text-align: left;
    margin: 5px;
}

.feedback-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.question-box {
    background-color: #5A6378;
    /* Muted Slate Blue */
    color: #E0E5EB;
    /* Light Mist Gray */
    border: 1px solid #444A53;
    /* Soft Charcoal Gray */
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    text-align: left;
    cursor: pointer;
}

.question-box:hover {
    background-color: #74849E;
    /* Muted Pale Blue */
}

.custom-container {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: black;
}

.keybox {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e9f0f5;
    color: black;
    border-color: #508493;
}

.box {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.box-grey {
    background-color: #f2f2f2;
}

.table-style {
    border-collapse: collapse;
    width: 280px;
    margin: 20px 0;
}

.table-style th,
.table-style td {
    text-align: center;
    padding: 8px;
    border: 1px solid #000000;
    color: black;
    background-color: #f2f2f2;
}

.header-style {
    /* background-color: #f2f2f2; */
    color : white;
}

.cn_mtrx {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: #adedff;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}



.reset-button {
    background-color: #f44336; /* Red background */
    color: white; /* White text */
    border-radius: 12px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    border: none; /* No border */
    width: 100%; /* Make it full width */
}

.reset-button:hover {
    background-color: #e53935; /* Darker red on hover */
    cursor: pointer; /* Pointer cursor on hover */
}